page-register {
    .background{
        background-color: cornflowerblue;
        text-align: center;
    }
    .menuBtn{
        background-color: chartreuse;
        width: 4cm
    }
    .header{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    // .logoImg{
    //     background-image: url(../assets/imgs/Logo.png);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center;
    // }
}